@model IEnumerable<Dari.Models.Role>

@{
    ViewBag.Title = "Gestion Role";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>GestionRole</h2>

<p>
    @Html.ActionLink("Create New", "CreateRole")
</p>
<table class="table">
    <tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Settings</th>
    </tr>
    </tr>

    @foreach (var item in ViewBag.roles)
    {
<tr>
    <td>
        @item.Id
    </td>
    <td>
        @item.Name
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }

</table>
