@model IEnumerable<Dari.Models.Ad>

@{
    ViewBag.Title = "GestionAd";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>GestionAd</h2>

<p>
    @Html.ActionLink("Create New", "CreateAd")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idAd)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.adType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbrooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbbath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbgarage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.garden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.elevator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.furnished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateCreated)
        </th>
        <th></th>
    </tr>
    @foreach (var item in ViewBag.ads)
    {
<tr>
    <td>
        @item.idAd
    </td>
    
    <td>
        @item.adType
    </td>
    <td>
        @item.description
    </td>

    <td>
        @item.state
    </td>
    <td>
        @item.price
    </td>
    <td>
        @item.location
    </td>
    <td>
        @item.area
    </td>
    <td>
        @item.nbrooms
    </td>
    <td>
        @item.nbbath
    </td>
    <td>
        @item.nbgarage
    </td>
    <td>
        @item.garden
    </td>
    <td>
        @item.elevator
    </td>
    <td>
        @item.pool
    </td>
    <td>
        @item.furnished
    </td>
    <td>
        @item.dateCreated
    </td>
    <td>
        @Html.ActionLink("Edit", "EditAd", new { id = item.idAd }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "DeleteAd", new { id = item.idAd })
    </td>
</tr>

    }

</table>
