@model IEnumerable<Dari.Models.Contract>

@{
    ViewBag.Title = "GestionContract";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>GestionContract</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buyer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.contracts) {
<tr>
    <td>
        @item.id
    </td>
    <td>
        @item.type
    </td>
    <td>
        @item.buyer
    </td>
    <td>
        @item.seller
    </td>
    <td>
        @item.sum
    </td>
    <td>
        @item.address
    </td>
    <td>
        @item.date
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
}

</table>
