@model Dari.Models.Insurance

@{
    ViewBag.Title = "Create Insurance";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<center><h2>********************Create Insurance********************</h2></center>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<center>
    <div class="form-horizontal">
<br />

        <div class="form-group">
            <p>Insurance Name</p>            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "css-input" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Insurance website</p>            <div class="col-md-10">
                @Html.EditorFor(model => model.website, new { htmlAttributes = new { @class = "css-input" } })
                @Html.ValidationMessageFor(model => model.website, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="myButton" />
            </div>
        </div>
    </div>
</center>
}

<div>
    @Html.ActionLink("Back to List", "GestionInsurance")
</div>
